*{
    box-sizing: border-box;
}

body{
 margin: 0;
}
.positive{
    border-right:6px solid green;
}
.negative{
    border-right:6px solid red;

}
.disabled{
    display: none;
}
.backround-img{

    background: url(./images/bg.jpg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    z-index: -1;
    filter: grayscale(80%) blur(1px);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-origin: border-box;
    background-attachment: fixed;
}

/*HEADER*/
header{
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;    
    background: #c8d8d9;
    border-bottom: 2px solid #9ea5a6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
header h1{
    text-align: center;
    margin: 0;
}


.balance h2{
    margin: 0;
}
#balance__total{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}
#open-btn{   
     background-color: #92a8aa;
     color: white;     
     border-radius: 8px;
     cursor: pointer;
     font-weight: 800;
 }
 
 #open-btn:active,
 #open-btn:hover{
     background-color: white;
     color: green;
     
 }
 /*END header*/
 main{
    position: relative;
   
}

.detaled__balance-display{
    max-width: 100%;    
    margin: auto;
    background-color: white;    
    padding: 20px;
    box-shadow: 1px 2px 5px #c8d8d9;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    
}
.detaled__balance-display > div{    
    text-align: center;
}

.detaled__balance-income{    
    border-bottom: 2px solid gainsboro;    
    
}
.detaled__balance-expense{    
    border-top: 2px solid gainsboro; 
    
}

#balance__total-income{
    color: green;
}
#balance__total-expense{
    color: red;
}



/*END total balance display*/



/*History*/

.history-lists{/*ul*/
    min-width: 100%;
    margin: auto;
    list-style: none;
    padding:0;
}

.history-list__container{
    background-color: white;
    box-shadow: 1px 2px 5px #c8d8d9;
    border-radius: 1px;
    margin: 1rem 0;
    min-height: 0;
    display: grid;
    grid-template-columns: 80% 20%;
}
.history-list__name{
    margin: 10px;
    text-align: left; 
    align-self: center;     
    overflow-wrap: break-word;
  

}
.history-list__amount{
    margin: 10px;    
    align-self: center;
    justify-self: end;   
    overflow-wrap: anywhere;
}

.delete-container{
    grid-column-start: 2;
}

/*END History*/ 

/*backdrop*/
.backdrop{
    background: #595a5cad;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    
}
/*END backdrop*/

/*New transaction form*/
.new-transaction{
    position: absolute;
    z-index: 3;
    padding: 10px;
    width: 60%;
    top: 0vh;
    left: 10%;
    background: #f1f3f4;
    border: 2px solid grey;
    padding: 10px;
    
}

#new-transaction__name{
    width: 100%;
}
#new-transaction__form label,
#new-transaction__form button{
    display: inherit;
}
#checkboxes section{
    display: inline-block;
}

#new-transaction__form button{
    padding:10px;
    margin: 10px;
}
#new-transaction__form section button,
#new-transaction__form section .new-transaction__cancel{
    display: inline-block;
    border: 2px solid black;
}
.new-transaction__cancel{
    margin: 10px;
    padding: 8px;
}


.checkbox-error,
.new-transaction__name-error,
.new-transaction__amount-error{
    color:red;
    display: none;
}



.delete-container:hover{
    animation-duration: 3s;
    animation-name: slidein;
 
}


@media(min-width:450px){
    .header{
        max-height: 10vh;
    }
    
    .detaled__balance-display{
        grid-template-columns: repeat(2, 50%);
        max-width: 50%;
    }
    .detaled__balance-income{
        border-bottom: 0;
        border-right: 2px solid gainsboro;  
        
    }
    .detaled__balance-expense{
        border-top: 0;
        border-left: 2px solid gainsboro;
        
    }
    .history-lists {
        max-width: 50%;
    }

    .history-list__container{
        width: 50%;
        margin: 10px auto;
    }

}